furo
sphinxext.opengraph
# matplotlib is required for social cards
matplotlib
sphinx_copybutton==0.5.2
sphinx-inline-tabs
sphinxcontrib.plantuml --no-binary=sphinxcontrib.plantuml
sphinxcontrib-svg2pdfconverter
pygments_pytest
sphinx-lint
